.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    display: flex;
    height: 100vh;
    .video-container {
        flex: 1 0 600px;
        max-width: 100%;
        background: rgb(0, 0, 0);
        position: relative;
        overflow: hidden;
        padding: 0px 80px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 30px;
            width: 90%;

            .icon-close,
            .icon-more {
                color: #fff;

                background-color: rgba(84, 84, 84, 0.5);
                border-radius: 50%;
                cursor: pointer;
                border: none;
                outline: none;
                width: 40px;
                height: 40px;
                top: 20px;
                transition: opacity 0.3s ease 0s;
            }

            .input-search {
                z-index: 1000;

                .search {
                    background-color: transparent;
                    border: 1.5px solid #fff;
                }
            }
        }

        &_imgBlur {
            position: absolute;
            width: 10%;
            height: 100%;
            filter: blur(2px);
            left: 50%;
            top: 50%;
            transform: scale(11);
            opacity: 0.3;

            .video-thumb {
                box-sizing: border-box;
                display: block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: absolute;
                inset: 0px;

                img {
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                }
            }
        }

        &_img {
            width: 100%;
            height: 100%;
            position: relative;

            &--video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 100%;
                height: 100%;
                video {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .detail-video-right {
        width: 544px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .video-info {
            padding-top: 24px;

            overflow-y: auto;
            position: relative;
            flex: 1;
            .video-author {
                background: rgba(22, 24, 35, 0.03);
                border-radius: 12px;
                margin-left: 20px;
                margin-right: 20px;
                padding: 16px;

                &__header {
                    display: flex;
                    align-items: center;

                    &-avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    &-info {
                        display: flex;
                        flex-direction: column;
                        font-size: 18px;
                        line-height: 24px;

                        &:hover {
                            h4 {
                                text-decoration: underline;
                            }
                        }
                        h4 {
                            margin: 0;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }

                &__info {
                    .video-music {
                        display: flex;
                        align-items: center;
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }

            .video-irt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
                padding: 0 32px;
                &__main {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    height: 32px;
                    flex: 1;
                    gap: 20px;

                    &-like,
                    &-comment,
                    &-bookmark {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .irt-icon {
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        font-size: 0px;
                        border-radius: 50%;
                        transition: all 200ms ease-in-out 0s;
                        width: 32px;
                        height: 32px;
                        background-color: rgba(22, 24, 35, 0.06);
                        padding: 6px;
                        margin-right: 6px;
                        cursor: pointer;
                    }

                    span {
                        height: 100%;
                    }
                }

                &__share {
                    display: flex;
                    gap: 8px;
                }
            }

            .video-link {
                color: rgba(22, 24, 35, 0.75);
                font-size: 14px;
                line-height: 18px;
                display: flex;
                flex-direction: row;
                margin-top: 16px;
                box-sizing: border-box;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid rgba(22, 24, 35, 0.12);
                margin: 0px 32px;
                margin-top: 16px;
                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    flex: 1 1 auto;
                    padding: 7px 0px 5px 12px;
                    background-color: rgba(22, 24, 35, 0.06);
                }

                button {
                    border: none;
                    background: none rgba(22, 24, 35, 0.06);
                    outline: none;
                    color: rgb(22, 24, 35);
                    font-weight: 700;
                    flex: 0 0 auto;
                    cursor: pointer;
                    padding: 7px 18px;
                }
            }

            .comment-container {
                padding: 0 32px;
                // margin-bottom: 86px
                &__list {
                    &-item {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        &-avatar {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }

                        &-info {
                            margin-left: 10px;
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            h4 {
                                margin: 0;
                                font-size: 14px;
                            }
                            p {
                                margin: 0;
                            }

                            .comment-value {
                                font-size: 14px;
                                margin-bottom: 6px;
                            }

                            .comment-irt {
                                color: rgba(22, 24, 35, 0.5);
                                font-size: 14px;
                                line-height: 18px;

                                &__time {
                                    display: inline-block;
                                    width: 64px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    vertical-align: top;
                                }

                                &__reply {
                                    cursor: pointer;
                                    color: rgba(22, 24, 35, 0.5);
                                    font-weight: 400;
                                    margin-left: 4px;
                                }
                            }

                            .comment-user {
                                display: none;
                                margin-top: 8px;
                                &.active {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }
                                &__input {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;
                                    align-items: center;
                                    background-color: rgba(22, 24, 35, 0.06);
                                    box-sizing: border-box;
                                    border: 1px solid transparent;
                                    border-radius: 8px;
                                    padding: 0px 9px;
                                    height: 40px;
                                    flex: 1;

                                    &.active {
                                        border: 1px solid #ccc;
                                    }
                                    input {
                                        background-color: transparent;
                                        flex: 1 1 auto;
                                        height: auto;
                                    }

                                    &-icon {
                                        width: 22px;
                                        height: 22px;
                                        margin-right: 12px;
                                        cursor: pointer;
                                    }
                                }

                                .btn-submit {
                                    color: rgba(22, 24, 35, 0.34);
                                    font-weight: 600;
                                    cursor: default;
                                    flex: 0 0 48px;
                                    font-size: 14px;
                                    line-height: 39px;
                                    text-align: right;
                                    margin-right: 16px;
                                    background-color: transparent;

                                    &.active {
                                        color: rgb(254, 44, 85);
                                        cursor: pointer;
                                    }
                                }

                                .close-icon {
                                    cursor: pointer;
                                }
                            }

                            .comment-count {
                                margin-top: 8px;
                                cursor: pointer;
                                &__more {
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    font-size: 14px;
                                    color: rgba(22, 24, 35, 0.5);

                                    // &.active {
                                    //     display: flex;
                                    // }
                                }

                                &__main {
                                    display: none;
                                    margin-bottom: 8px;
                                    &.active {
                                        display: flex;
                                    }
                                }
                            }
                        }

                        &-like {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            // padding-top: 28px;
                            position: relative;
                            .more-icon {
                                visibility: hidden;
                                cursor: pointer;
                                &:hover + .popup-comment {
                                    display: block;
                                }
                            }

                            &:hover .more-icon {
                                visibility: visible;
                            }

                            .tym-cm-icon {
                                cursor: pointer;
                            }

                            p {
                                font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
                                font-size: 16px;
                                line-height: 21px;
                                height: 24px;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                            }

                            .popup-comment {
                                position: absolute;
                                z-index: 2;
                                background: rgb(255, 255, 255);
                                border-radius: 8px;
                                top: calc(100% + -58px);
                                box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
                                transition: opacity 300ms ease 0s;
                                opacity: 1;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 21px;
                                padding: 8px 16px;
                                min-width: 200px;
                                height: 60px;
                                right: -6px;
                                display: none;
                                &:hover {
                                    display: block;
                                    button {
                                        color: red;
                                    }
                                }
                                button {
                                    background-color: transparent;
                                    display: flex;
                                }
                                &_item {
                                    display: flex;
                                    align-items: center;
                                    height: 100%;

                                    &:hover {
                                        color: red;
                                    }
                                    p {
                                        padding: 12px 8px;
                                        margin-left: 12px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    .no-comment {
                        color: rgba(22, 24, 35, 0.5);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 0px;
                        width: 100%;
                        padding: 0px 16px;
                        box-sizing: border-box;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        margin-top: 40px;
                    }
                }
            }
        }

        .video-user_comment {
            display: flex;

            flex: 0 0 auto;
            background-color: rgb(255, 255, 255);
            border-top: 1px solid rgba(22, 24, 35, 0.2);
            // margin: 0px 30px;
            padding: 21px 30px;
            .comment-user__input {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: row;
                align-items: center;
                background-color: rgba(22, 24, 35, 0.06);
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 8px;
                padding: 0px 9px;
                height: 40px;
                flex: 1;
                &.active {
                    border: 1px solid #ccc;
                }
                input {
                    background-color: transparent;
                    flex: 1 1 auto;
                    height: auto;
                }

                &-icon {
                    width: 22px;
                    height: 22px;
                    margin-right: 12px;
                    cursor: pointer;
                }
            }

            .btn-submit {
                color: rgba(22, 24, 35, 0.34);
                font-weight: 600;
                cursor: default;
                flex: 0 0 48px;
                font-size: 14px;
                line-height: 39px;
                text-align: right;
                background-color: transparent;
                flex: 0 0 48px;
                &.active {
                    color: rgb(254, 44, 85);
                    cursor: pointer;
                }
            }
        }

        .video-list {
            width: 100%;
            overflow: hidden auto;
            position: relative;
            padding-inline-start: 7.5px;
            flex-wrap: wrap;
            display: flex;
            padding-top: 20px;

            &_item {
                margin-right: 7.5px;
                width: 160px;
                height: 239px;
                margin-bottom: 8px;
                cursor: pointer;
                position: relative;

                &:nth-child(3n) {
                    margin-right: 0;
                }
                // &:hover .video-list_item--video {
                //     display: block;
                // }
                img {
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background: rgba(22, 24, 35, 0.06);
                }

                &--video {
                    width: 100%;
                    height: 100%;
                    // display: none;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    video {
                        border-radius: 4px;

                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &--count {
                    position: absolute;
                    height: 40px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.3) 98.99%);
                    color: rgb(255, 255, 255);
                    font-size: 13px;
                    line-height: 17px;
                    padding: 12px 8px 8px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;

                    span {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}
