.video-container_img--video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
    }

    input[type='range'] {
        /* removing default appearance */
        -webkit-appearance: none;
        appearance: none;
        /* creating a custom design */
        width: 100%;
        cursor: pointer;
        outline: none;
        border-radius: 15px;
        /*  overflow: hidden;  remove this line*/

        /* New additions */
        height: 6px;
        background: #ccc;
    }

    /* Thumb: webkit */
    input[type='range']::-webkit-slider-thumb {
        /* removing default appearance */
        -webkit-appearance: none;
        appearance: none;
        /* creating a custom design */
        height: 15px;
        width: 15px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        border: none;

        /* box-shadow: -407px 0 0 400px #f50; emove this line */
        transition: 0.2s ease-in-out;
    }

    /* Thumb: Firefox */
    input[type='range']::-moz-range-thumb {
        height: 15px;
        width: 15px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        border: none;

        /* box-shadow: -407px 0 0 400px #f50; emove this line */
        transition: 0.2s ease-in-out;
    }

    /* Hover, active & focus Thumb: Webkit */

    input[type='range']::-webkit-slider-thumb:hover {
        box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
    }
    input[type='range']:active::-webkit-slider-thumb {
        box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
    }
    input[type='range']:focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
    }

    /* Hover, active & focus Thumb: Firfox */

    input[type='range']::-moz-range-thumb:hover {
        box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
    }
    input[type='range']:active::-moz-range-thumb {
        box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
    }
    input[type='range']:focus::-moz-range-thumb {
        box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
    }

    .range {
        display: flex;
        align-items: center;
        gap: 1rem;
        max-width: 500px;
        margin: 0 auto;
        // height: 4rem;
        padding: 0px 10px;
        // position: absolute;

        // bottom: 20px;
        // width: 100%;

        width: calc(100% - 160px);
        height: 28px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        cursor: initial;
        max-width: 56.25vh;
    }

    .value {
        // flex: 0 0 88px;
        max-width: 88px;
        margin-inline-start: 8px;
        font-size: 14px;
        line-height: 24px;
        color: rgb(255, 255, 255);
        text-align: end;
        white-space: nowrap;
    }

    .play-icon-fill {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .volumb-icon {
        position: absolute;
        z-index: 1;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        &_range {
            width: 28px;
            height: 96px;
            margin: 8px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            background: rgba(84, 84, 84, 0.5);
            input {
                transform: rotate(-90deg);
                width: 70px;
            }
        }
    }
}
